@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  background-color: black;
  color: white;
}

/* TreeStyles.css */
.rc-tree-node-selected {
  background-color: transparent; /* Remove background color */
  color: inherit; /* Use the default text color */
}
